@model HomePage
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{

    var userId = Context.Session.GetString("UserId");
    if (userId == null)
    {
        Context.Response.Redirect("https://localhost:7050");

    }
}






<script src="~/js/popper.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/vertuleSelect.js"></script>

<script>


    setTimeout(alertFunc, 500);
    function alertFunc() {
        VirtualSelect.init({
            ele: '#cityFilter',
            dropboxWidth: '170px'

        });
        VirtualSelect.init({
            ele: '#countryFilter',
            dropboxWidth: '170px'
        });
        VirtualSelect.init({
            ele: '#themeFilter',
            dropboxWidth: '170px'
        });
        VirtualSelect.init({
            ele: '#skillFilter',
            dropboxWidth: '170px'
        });
    }


    function favorite(Missionid, favorite) {
        $.ajax({
            url: '/Customer/Home/favoriteMission',
            type: 'POST',
            data: { id: Missionid, x: favorite },
            success: function(d) {
                $("#gridView").empty();
                $("#gridView").html(d);
            },
            error: function() {
                alert('Error');
            }
        });
    }




    //$(document).ready(function() {
    //    $('#cityDiv').multiselect({
    //        selectAllText: 'Select all',

    //        // options go here
    //    });
    //});

    //$(document).ready(function() {
    //  $('#cityFilter option').each(function() {
    //    $(this).before('<input type="checkbox" value="' + $(this).val() + '" name="checkbox_' + $(this).val() + '">' + $(this).text() + '<br>');
    //    $(this).remove();
    //  });
    //});

    function applyMission(Missionid) {
        $.ajax({
            url: '/Customer/Home/ApplyMission',
            type: 'POST',
            dataType: 'json',
            data: { id: Missionid },
            success: function(d) {
                alert(d);
            },
            error: function() {
                alert('Error');
            }
        });
    }


    function FilterTag(str) {
        var a = document.querySelector(str).getSelectedOptions();
        $(str + "Div").empty();
        $.each(a, function(i, text) {
            $(str + "Div").append('<button type="button" class="btn btn-sm btn-outline-dark rounded-pill firstrow mt-1 me-2"><span class="text-wrap">' + text.label + '</span><i class="bi bi-x"></i></button>');
        });
    }


    function Search() {
        Filter();
    }

    $(document).ready(function() {
        $("#countryDiv").change(function() {
            FilterTag("#countryFilter");
            Filter();
        });
        $("#cityDiv").change(function() {
            FilterTag("#cityFilter");
            Filter();
        });
        $("#themeDiv").change(function() {
            FilterTag("#themeFilter");
            Filter();
        });
        $("#skillDiv").change(function() {
            FilterTag("#skillFilter");
            Filter();
        });
        $("#sorts").change(function() {
            Filter();
        });
    });


    function Filter() {
        var search = $("#searchTitle").val();
        var sort = $("#sorting").val();
        var city = $("#cityFilter").val();
        var country = $("#countryFilter").val();
        var theme = $("#themeFilter").val();
        var skill = $("#skillFilter").val();
        $.ajax({
            url: '/Customer/Home/Filter',
            type: 'POST',
            //dataType: 'text/html',
            data: { sortOrder: sort, searchString: search, cityFilter: city, countryFilter: country, themeFilter: theme, skillFilter: skill },
            success: function(d) {
                console.log(d);
                //alert(d);
                $("#gridView").empty();
                $("#gridView").html(d);
            },
            error: function(err) {
                console.log(err);
                alert('Error');
            }
        });
    }






</script>



<hr class="m-0 " />
<div class="container">
    <div id="modal-placeholder"></div>
    <nav class="navbar navbar-expand-lg navbar-light lined p-0 ">
        <ul class="navbar-nav ">
            <li class="nav-link d-flex p-0">
                <!-- <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search"> -->
                <a href="#" class="nav-link text-center">
                    <input type="search" style="width: 36vw;" class="form-control icon1 border-0" onkeyup="Search()" id="searchTitle" placeholder="Search Mission..." />
                </a>
            </li>
        </ul>
        <button type="button" class="navbar-toggler nav2 border-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <form method="get" action="Index">
                <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">



                    <!-- <li class="nav-line ">
                        / <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search"> -->
                    <!-- <a href="#" class="nav-link align-content-center">Home</a> -->
                    <!-- </li> -->
                    <li class="nav-line"></li>





                    <li class="nav-line dropdown p-1 ">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown" style="width: 10vw;">
                            <div id="cityDiv">
                                <select multiple id="cityFilter" asp-for="mission.CityId" asp-items="ViewBag.CityList" placeholder="City"
                                        data-search="true" data-silent-initial-value-set="true" name="native-select">
                                </select>
                            </div>
                        </a>

                    </li>
                    <li class="nav-line dropdown p-1">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown" style="width: 10vw;">
                            <div id="countryDiv">
                                <select multiple id="countryFilter" asp-for="mission.CountryId" asp-items="ViewBag.CountryList"
                                        placeholder="Country" data-search="true" data-silent-initial-value-set="true" name="native-select">
                                </select>
                            </div>
                        </a>

                    </li>
                    <li class="nav-line dropdown p-1">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown" style="width: 10vw;">
                            <div id="themeDiv">
                                <select multiple id="themeFilter" asp-for="mission.ThemeId" asp-items="ViewBag.ThemeList" placeholder="Theme">
                                    <option disabled selected>Theme</option>
                                </select>
                            </div>
                        </a>

                    </li>
                    <li class="nav-line dropdown p-1 d-flex justify-content-end">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown" style="width: 10vw;">
                            <div id="skillDiv">
                                <select multiple id="skillFilter" asp-items="ViewBag.skilllist" placeholder="Skill">
                                    <option disabled selected>Skill</option>
                                </select>
                            </div>
                        </a>

                    </li>

                    @*                    <li class="nav-line dropdown px-2">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown" style="width: 130px;"><div class=" d-flex justify-content-between">Theme<i class=" icon bi bi-chevron-down"></i></div></a>
                    <ul class="dropdown-menu">
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option1" tabIndex="-1"><input type="checkbox" class="mx-2"/>Option 1</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option2" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 2</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option3" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 3</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option4" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 4</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option5" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 5</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option6" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 6</a></li>
                    </ul>
                    </li>
                    <li class="nav-line dropdown px-2">
                    <a href="#" class="nav-link " data-bs-toggle="dropdown" style="width: 130px;"><div class=" d-flex justify-content-between">Skill<i class=" icon bi bi-chevron-down"></i></div></a>
                    <ul class="dropdown-menu ">
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option1" tabIndex="-1"><input type="checkbox" class="mx-2"/>Option 1</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option2" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 2</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option3" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 3</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option4" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 4</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option5" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 5</a></li>
                    <li><a href="#" class="small text-decoration-none m-2" style="color: black;" data-value="option6" tabIndex="-1"><input type="checkbox" class="mx-2"/>&nbsp;Option 6</a></li>
                    </ul>
                    </li>*@
                </ul>
            </form>
        </div>
    </nav>
</div>

<hr class="m-0 " />
@*<hr class="m-0 "/>*@
<div class="container container-md container-sm container-xs">
    <br class="fadelarge">

    <!-- 1st Row -->
    <div class="d-flex flex-wrap">
        @*<div class="fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Tree Plantation
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Canada
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Toronto
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Montreal
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Environment
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Nutrition
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Anthropology
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>
        <div class="ms-2 fadelarge">
        <p class="btn border rounded-pill small firstrow py-1 px-2" style="max-width:max-content;font-size: 13px;">
        Environment Science
        <span class="close" aria-label="Close" aria-hidden="true" style="font-size:1.20em;">&times;</span>
        </p>
        </div>*@
        <span id="cityFilterDiv"></span>
        <span id="countryFilterDiv"></span>
        <span id="themeFilterDiv"></span>
        <span id="skillFilterDiv"></span>

        <div class="ms-2 fadelarge">
            <p class=" py-1 px-2" style="max-width:max-content;font-size: 13px;">
                <a href="Index"> Claer All</a>
            </p>
        </div>
    </div>
    <!-- explore 72 mission row -->
    <div class="d-flex text-center">
        <div class="mt-1">
            <span class="mission mb-0">Explore&nbsp;<span class="explore">@Model.card.Count() missions</span></span>
        </div>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
            <li class="nav-link dropdown1 px-2">
                <div id="sorts">
                    <select id="sorting" placeholder="Sort By">
                        <option selected hidden>Sort By</option>
                        <option value="1">Newest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Lowest available seats</option>
                        <option value="4">Highest available seats</option>
                        <option value="5">Sort by my favourite</option>
                        <option value="6">Sort by deadline</option>
                    </select>
                </div>
            </li>
        </ul>
        &nbsp;
        &nbsp;
        &nbsp;
        <button type="button" id="grid" class="border rounded-circle border-0 fadelarge px-3" style="background-color: #e8e8e8;"><i class="bi bi-grid" style="font-size: 1.30em;"></i></button>

        <button type="button" id="list" class="border-0 border rounded-circle fadelarge px-3 " style="background-color: white;"><i class="bi bi-justify " style="font-size: 1.30em;"></i></button>
    </div>
    <br />






    <!--  Grid card -->
    <div id="gridView">
        @Html.Partial("_MissionCardPartial", Model.card);
    </div>


    <!-- Listed Card -->
    @* <div class="card fadelarge" id="listView" style="display: none;" >
    <div class="row ">
    <div class="col-md-3 px-0"  >
    <img src="assets/card-1.png" class="card-img h-100" alt="..." style="z-index: -90;width: 100%;height: 100%;">
    <div class="box1">
    <span class="mb-30 text-wrap btn btn-sm rounded-pill "
    style="background-color: white; color: #757575; ">
    Environment</span>
    </div>
    <div class="d-flex align-items-center locationlistview">
    <img src="assets/location.png" alt="" class="img-fuild px-2" style="height: 10px;color: white;">
    <span>Toranto</span>
    </div>
    <div class="d-flex align-items-center heartlistview p-2">
    <img src="assets/heart.png" alt="" class="img-fuild" style="height: 17px;color: white;">
    </div>
    <div class="d-flex align-items-center userlistview p-2">
    <img src="assets/user.png" alt="" class="img-fuild" style="height: 17px;color: white;">
    </div>
    <div class="d-flex align-items-center appliedbuttonlist">
    <span class="px-3 py-1">APPLIED</span>
    </div>
    </div>
    <div class="col-md-9 cardcontainerlist">
    <div class="card-body">
    <div class="">
    <div class=" float-start">
    <img src="assets/location-1.png" alt="" class="img-fuild px-1" style="height: 13px;color: black;">
    <span>Atlanta</span>
    </div>
    <div class=" float-start ms-2">
    <img src="assets/web.png" alt="" class="img-fuild px-1" style="height: 13px;color: black;">
    <span>Environment</span>
    </div>
    <div class="d-inline-block align-items-center ms-2">
    <img src="assets/organization.png" alt="" class="img-fuild px-2" style="height: 13px;color: black;">
    <span>Smith International Caring Foundation</span>
    </div>
    <div class="float-end" style="padding-right: 10px ;">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    </div>
    <h5 class="card-title p-0 mb-0">Planting and Afforestation Actives</h5>
    <p class="card-text p-0">This summer we are aim to planning a 40000 trees</p>
    <div class="">
    <div class="float-start">
    <div class=" d-inline-flex align-items-center mb-4">
    <img src="assets/Seats-left.png" alt="" class="img-fuild px-2" style="height: 25px;color: black;">
    <div class="flex-column">
    <p class="mb-0 text0">397</p>
    <p class="mb-0 text1">Seated Left</p>
    </div>
    </div>
    </div>
    <div class="float-start">
    <div class="d-inline-flex align-items-center ms-2" style="margin-right: 80px;">
    <img src="assets/mission.png" alt="" class="img-fuild px-2" style="height: 25px;color: black;">
    <div class="flex-column">
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="mt-1"> <span class="text1">8000 achieved</span></span> </div>
    </div>
    </div>
    <div class="float-start">
    <div class=" d-inline-flex align-items-center ms-2 " style="margin-right: 10px">
    <img src="assets/calender.png" alt="" class="img-fuild px-2" style="height: 25px;color: black;">
    <div class="flex-column">
    <p class="mb-0 text0">From 09/01/2019</p>
    <p class="mb-0 text1">Until 29/01/2019</p>
    </div>
    </div>
    </div>
    <div class="float-start">
    <div class=" d-inline-flex align-items-center ">
    <img src="assets/user.png" alt="" class="img-fuild px-2" style="height: 25px;color: black;">
    <div class="flex-column">
    <p class="mb-0 text0">skill</p>
    <p class="mb-0 text1">Botany</p>
    </div>
    </div>
    </div>
    <div class="float-end">
    <div class="d-inline-flex align-items-end " style="margin-left: 70px;" >
    <button type="submit" class=" px-4  py-1 btn-block rounded-pill button">View Detail <i class="bi bi-arrow-right ms-2"></i></button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>




    <br>




    </div>*@





    <!-- Pagination -->
    <div class="d-flex justify-content-center m-5">
        <nav>
            @if (pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-center">

                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@pge">@pge</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }

            @* <ul class="pagination pg-color-black">
            <li class="page-item">
            <a class="page-link" style="color: #757575;" aria-label="Previous">
            <span aria-hidden="true"><img src="~/lib/assets/previous.png" width="10px" height="10px" class="my-2 "></span>
            <span class="sr-only">Previous</span>
            </a>
            </li>&nbsp;&nbsp;
            <li class="page-item">
            <a class="page-link" style="color: #757575;;" aria-label="Previous">
            <span aria-hidden="true"><img src="~/lib/assets/left.png" width="5px" height="10px" class="my-2 "></span>
            <span class="sr-only">Previous</span>
            </a>
            </li>&nbsp;&nbsp;
            <li class="page-item active"><a class="page-link" style="background-color:  #f88634;border-color:  #f88634;color: white;">1</a></li>&nbsp;&nbsp;
            <li class="page-item"><a class="page-link" style="color: #757575;;">2</a></li>&nbsp;&nbsp;
            <li class="page-item"><a class="page-link" style="color: #757575;;">3</a></li>&nbsp;&nbsp;
            <li class="page-item"><a class="page-link" style="color: #757575;;">4</a></li>&nbsp;&nbsp;
            <li class="page-item"><a class="page-link" style="color: #757575;;">5</a></li>&nbsp;&nbsp;
            <li class="page-item">
            <a class="page-link" style="color: #757575;;" aria-label="Next">
            <span aria-hidden="true"><img src="~/lib/assets/right-arrow1.png" width="5px" height="10px" class="my-2 "></span>
            <span class="sr-only">Next</span>
            </a>
            </li>&nbsp;&nbsp;
            <li class="page-item">
            <a class="page-link" style="color: #757575;;" aria-label="Next">
            <span aria-hidden="true"><img src="~/lib/assets/next.png" width="10px" height="10px" class="my-2 "></span>
            <span class="sr-only">Next</span>
            </a>
            </li>&nbsp;&nbsp;
            </ul>*@
        </nav>
    </div>



</div>

<!-- Privacy Policy -->
<hr />
<div class="container container-md container-sm container-xs">
    <div>
        <p>Privacy Policy</p>
    </div>
</div>




<script>

    // list/grid view start
    const gridView = document.getElementById('gridView');
    const listView = document.getElementById('listView')
    const list = document.getElementById('list');
    const grid = document.getElementById('grid')

    list.addEventListener('click', function handleClick() {
        if (gridView.style.display === 'none') {
            listView.style.display = '';


        } else {
            gridView.style.display = 'none';
            listView.style.display = '';
            list.style.borderRadius = '50%';
            list.style.backgroundColor = '#e8e8e8';
            grid.style.borderRadius = '0';
            grid.style.backgroundColor = 'white';


        }
    });

    grid.addEventListener('click', function handleClick() {
        if (listView.style.display === 'none') {
            gridView.style.display = '';


        } else {
            listView.style.display = 'none';
            gridView.style.display = '';
            grid.style.borderRadius = '50%';
            grid.style.backgroundColor = '#e8e8e8';
            list.style.borderRadius = '0%';
            list.style.backgroundColor = 'white';


        }
    });
</script>


