
@model Login
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row h-100">
    <!-- #region Carousel -->
    <div class="col-md-12 col-sm-12 col-lg-8 h-100" style="padding: 0px;">

        <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="false">

            <div class="carousel-indicators h-100">
                @{
                    var isButtonFirst = true;
                }
                @for (var i = 0; i < Model.banner.Count(); i++)
                {
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"
                        class="@(isButtonFirst ? "active": "")" aria-current="true" aria-label="Slide @i"
                        style="height: 8px;width: 8px; border-radius: 10px;border: 0;"></button>
                    <span style="display:none">@(isButtonFirst = false)</span>
                }

            </div>

            <div class="carousel-inner h-100">

                @{
                    var isFirst = true; foreach (var item in Model.banner)
                    {
                        <div class="carousel-item h-100 @(isFirst ? "active": "")">

                            <img src="@Url.Content(@item.Image)"
                             class="d-block img img-fluid CorouselImg h-100" alt="...">
                            <span style="display:none">@(isFirst = false)</span>

                            <div class="carousel-caption d-none d-lg-block">
                                <h3 class="CorouselTitle">@item.Title</h3>
                                <p class="CorouselText">@item.Text</p>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
    <div class=" col-lg 4 col-md-12 col-sm-12 wrapper vcenter-item" style="padding: 0px;">

        <div class="box">

            <form method="post">
                
                <div class="text-center">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="text-center">
                        <p class="mt-3 me-2 small ">Enter your email address you've using for your account below
                            and we will send you a password reset link</p>
                    </div>
                    <span class="text-danger">@TempData["ErrorMessage"]</span>
                    <div class="form-group mt-4" >
                      <label asp-for="User.Email">Email address</label>
                      <input type="email" asp-for="User.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    </div>

                

                <button type="submit" class="form-control rounded-pill btn btn-outline-warning">Send</button>
            </form>

            <div style="text-align: center;">
                <a asp-area="Customer" asp-controller="User" asp-action="Login" class="link-dark">Login</a>

            </div>

            <div style="text-align: center; padding-top: 30%;">
                <a asp-controller="Policy" asp-action="Policy" class="link-dark">Privacy Policy</a>
            </div>

        </div>
    </div>
    <!-- endregion Form -->
</div>









